<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetFax</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
    <h2>{{ pet.pet_name }}</h2>
    <img src="{{ url_for('static', filename='assets/') }}{{pet.pet_photo}}" />
    <a href="/pets/{{ pet.pet_id }}">Learn more ⟩</a>
    {% endfor %}
  </body>
</html>
