<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetFax | FACTS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>FACTS</h1>
      <div class="container">
        {% for fact in facts %}
            <h4>Fact Provided by {{ fact.submitter }}</h4>
            {{ fact.fact }} 
        {% endfor %}
      </div>
    </div>
  </body>
</html>
