<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | Fact Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Facts Submission Form</h1>
        <div class="callout">
            Have some facts you'd like to share? Submit them here with this form and we might opt to use them!
        </div>
        <div class="facts-container">
            <form action="/facts" method="POST">
                <label for="submitter"><H2>Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Fact</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
    </div>
</body>
</html>